* {
    font-family:'Handlee';
  }
  body {
    background-image: url("https://images.unsplash.com/photo-1603366615917-1fa6dad5c4fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTB8fGJsYWNrJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60");
    color: #526D82;
}

header {
background-color: #000000;
font-size: 50%;
margin: auto;
height: 305%;
text-align: center;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: dotted;
    border-color: #DDE6ED;
    border-top: none;
    border-left: none;
    border-right: none;
  }
.name {
text-align: left;
font-size: 700%;
margin-left: 5%;
color: #EFFAE9;
text-shadow: 0 0 5px #78BE98, 
    0 0 10px #64B48B, 
    0 0 15px #50AA7D, 
    0 0 20px #3CA070, 
    0 0 25px #289562, 
    0 0 30px #148B55, 
    0 0 35px #008147;
animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
from {
  text-shadow: 0 0 5px #78BE98, 
    0 0 10px #64B48B, 
    0 0 15px #50AA7D, 
    0 0 20px #3CA070, 
    0 0 25px #289562, 
    0 0 30px #148B55, 
    0 0 35px #008147;
}
to {
  text-shadow: 
    0 0 10px #78BE98, 
    0 0 20px #64B48B, 
    0 0 30px #50AA7D, 
    0 0 40px #3CA070, 
    0 0 50px #289562, 
    0 0 60px #148B55, 
    0 0 70px #008147;
}
}
.nav {
    text-align: right;
    font-size: 450%;
    margin-right: 5%;
text-shadow: 0 0 5px #419DE6, 
    0 0 10px #4495D5, 
    0 0 15px #478DC5, 
    0 0 20px #4A85B4, 
    0 0 25px #4C7DA3, 
    0 0 30px #4F7593, 
    0 0 35px #526D82;
    display: inline;
  }

.nav a {
    color: #000000;
  }

.nav a:visited {
    color: #DDE6ED;
  }
  
.nav a:hover {
color: #DDE6ED;
transition: fade-in;
}
.nav a:visited:hover {
color: #000000;;
transition: fade-in;
}
.hipic {
  width:10%;
  margin-left:45%;
  margin-top: 2%;
  text-align: center;
}
.still-here {
  text-align: center;
  color: #64B48B;
}
.mainphoto {
  border-radius: 50%;
  width:30%;
  margin-left:35%;
  margin-top: 2%;
  text-align: center;
  border:dotted;
  border-color: #DDE6ED;
}
.main {
    text-align: center;
  }
#about {
font-size:350%;
color: #EFFAE9;
text-shadow: 0 0 5px #78BE98, 
    0 0 10px #64B48B, 
    0 0 15px #50AA7D, 
    0 0 20px #3CA070, 
    0 0 25px #289562, 
    0 0 30px #148B55, 
    0 0 35px #008147;
animation: glow 1s ease-in-out infinite alternate;
text-align: center;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
}
.item:not(:first-child) {
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}
.item__content {
  text-align: center;
  padding: 7rem;
  border-radius: 7px;
}
.item > p {
  text-align: center;
}
.left {
  transform-origin: left center;
  transform: translateX(-50%);
}
.right {
  transform-origin: right center;
  transform: translateX(50%);
}
.slide-in {
  opacity: 1 !important;
  transform: translateX(0);
}
.state-flags {
  display: flex;
  width: 10rem;
  height: 10rem;
  margin-left: 35%;
}
.more {
font-size: 175%;
text-align: center;
}
#skills {
font-size:350%;
color: #DDE6ED;
text-shadow: 0 0 5px #419DE6, 
    0 0 10px #4495D5, 
    0 0 15px #478DC5, 
    0 0 20px #4A85B4, 
    0 0 25px #4C7DA3, 
    0 0 30px #4F7593, 
    0 0 35px #526D82;
animation: glow 1s ease-in-out infinite alternate;
text-align: center;
}

.container {
  text-align: center;
  max-width: 100%; /* Allow the container to expand to the full width */
}

/* Center the container using flex */
.container-wrapper {
  display: flex;
  justify-content: center;
}

#slider {
  position: relative;
  width: 500px;
  height: 400px;
}

#slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s ease-in-out;
}

#slider img.active {
  opacity: 1;
}

button:not([type="submit"]) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 3px solid #fff;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: #526D82;
  color: #f1f1f1;
  font-size: 32px;
  font-stretch: condensed;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
button:hover {
  background-color: #64B48B;
}

button#prev {
  left: -35px;
  padding: 7px 17px 7px 15px;
}

button#next {
  right: -35px;
  padding: 7px 15px 7px 17px;
}

.text-img {
margin: 3%;
padding:.5%;
border:dotted;
border-color: #DDE6ED;
}

.projects {
  font-size:350%;
color: #EFFAE9;
text-shadow: 0 0 5px #78BE98, 
    0 0 10px #64B48B, 
    0 0 15px #50AA7D, 
    0 0 20px #3CA070, 
    0 0 25px #289562, 
    0 0 30px #148B55, 
    0 0 35px #008147;
animation: glow 1s ease-in-out infinite alternate;
text-align: center;
}

.projects-smaller {
  font-size: 200%;
  text-align: center;
}

.project-container {
display: grid;
grid-template-rows: 30rem 30rem;
justify-content: center;
row-gap: 15rem;
margin-bottom: 10rem;
}

.project-item {
  justify-content: center;
  text-align: center;
}

.project-title {
  font-size: 275%;
  color: #78BE98;
}

.project-info {
  font-size: 1.5rem;
}

.project-link {
  font-size: 1.5rem;
  text-shadow: 0 0 5px #419DE6, 
    0 0 10px #4495D5, 
    0 0 15px #478DC5, 
    0 0 20px #4A85B4, 
    0 0 25px #4C7DA3, 
    0 0 30px #4F7593, 
    0 0 35px #526D82;
    display: inline;
    color: #000000;
  }

.project-link:visited {
    color: #DDE6ED;
  }
  
.project-link:hover {
color: #DDE6ED;
transition: fade-in;
}
.project-link:visited:hover {
color: #000000;
transition: fade-in;
}

.project-img {
  max-width: 100%;
  max-height: 100%;
}

.linkedin-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; /* Adjust as needed */
}

.image-wrapper {
  position: relative;
}

.linkedin,
.linkedin-mess {
  border: dotted;
  border-radius: 13%;
  border-color: #DDE6ED;
  transition: opacity 0.3s ease-in-out;
}

.linkedin-mess {
  position: absolute;
  top: 47%; /* Adjust this value slightly */
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  border-color: #40F8FF;
}

.linkedin-container:hover .linkedin {
  opacity: 0;
}

.linkedin-container:hover .linkedin-mess {
  opacity: 1;
}
.footer {
    background-color: #000000;
    border: dotted;
    border-color: #DDE6ED;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 2%;
  }
  .contact-form {
    text-align: center;
    width: 500px;
    height: 700px;
    margin: auto;
    border-radius: 10%;
    border-width: 10px;
    background-color: #27374D;
    margin-top: 50px;
    margin-bottom: 50px;
    border:dotted;
    border-radius: 13%;
    border-color: #DDE6ED;
  }
#contact {
font-size: 60px;
color: #DDE6ED;
text-shadow: 0 0 5px #419DE6, 
    0 0 10px #4495D5, 
    0 0 15px #478DC5, 
    0 0 20px #4A85B4, 
    0 0 25px #4C7DA3, 
    0 0 30px #4F7593, 
    0 0 35px #526D82;
}
.line {
border: none;
height: 5px;
background-color: #526D82;
}
#name {
width: 300px;
height: 70px;
font-size: 30px;
padding-left: 10px;
border: dotted;
border-color:#DDE6ED;
background-color: #526D82;
color: #DDE6ED;
}
#email {
width: 300px;
height: 70px;
font-size: 25px;
padding-left: 10px;
border: dotted;
border-color:#DDE6ED;
background-color: #526D81;
color: #DDE6ED;
}
#message {
width: 300px;
height: 70px;
font-size: 25px;
padding-left: 10px;
border: dotted;
border-color:#DDE6ED;
background-color: #526D82;
color: #DDE6ED;
}
#submit {
width: 240px;
height: 50px;
font-size: 30px;
padding-left: 10px;
border: solid 5px;
background-color: #DDE6ED;
color: #526D82;
margin-top: -3px;
}
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #DDE6ED;
    opacity: 1;
    /* Firefox */
  }
  .thank-you-text {
    margin-left: 40%;
  }
  .thanks-message {
    text-align: center;
    color: #64B48B;
    font-size: 200%;
    margin-bottom: 5rem;
  }

@media only screen and (max-width: 845px) {
  .nav {
    font-size: 200%;
  }
  .name {
    font-size: 300%;
  }
  .mainphoto {
    width: 100%;
    margin-left: 0%;
    margin-top: 5%;
  }
  .more {
    font-size: 150%;
  }
  .state-flags {
    max-width: 80%; /* Adjust this value to control the size on smaller screens */
  }
  .intro {
    font-size: 100%;
  }
  .container {
    max-width: 80%; /* Adjust this value to control the size on smaller screens */
  }


/* Additional styles to target the slider */
#slider {
  max-width: 100%; /* Ensure the slider doesn't exceed the container width */
  margin: 0 auto; /* Center the slider horizontally */
}
  .contact-form {
    height: 800px;
    border-radius: 0%;
  }
  #submit {
    margin-top: -50px;
  }
}

   